<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}

    {% if page.is_template %}
      {% capture title %}{{ page.title }} · Sketch Perspective Mockup{% endcapture %}
    {% else %}
      {% capture title %}{{ page.title }} · {{ site.title }}{% endcapture %}
    {% endif %}
  {% else %}
    {% assign title = site.title %}
  {% endif %}

  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">
  <meta property="og:site_name" content="{{ title }}">
  <meta name="twitter:title" content="{{ title }}">

  {% if page.excerpt %}
    {% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign description = site.description %}
  {% endif %}

  <meta name="description" content="{{ description }}">
  <meta itemprop="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
  <meta name="twitter:description" content="{{ description }}">

  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">

  {% if page.image %}
    {% if page.is_template %}
      {% capture image %}{{ site.url }}/images/templates/{{ page.image }}{% endcapture %}
    {% else %}
      {% capture image %}{{ site.url }}{{ page.image }}{% endcapture %}
    {% endif %}
  {% else %}
    {% capture image %}{{ site.url }}/images/ogimage-julie.jpg{% endcapture %}
  {% endif %}

  <meta property="og:image" content="{{ image }}">
  <meta name="twitter:image" content="{{ image }}">

  <meta name="author" content="{{ site.author }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">

  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">

  <meta name="keywords" content="perspective,mockup,sketch,plugin,transform,smart objects,photoshop,alternative,magic mirror,artboard">


  <link href="{{ "/css/basscss.min.css" | prepend: site.baseurl }}" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <!-- <link href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}" rel='stylesheet' type='text/css'> -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link href='https://www.google.com/fonts#UsePlace:use/Collection:Asap:400,400italic' rel='stylesheet' type='text/css'>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script>
    function donateClicked() {
        ga('send', 'event', 'donate', 'click', 'headingPaypal');
        window.location.href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9SVXLQ753LJKY"
    }

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function setLicense() {
      if ($("#license").length > 0) { 
        var license = $("#license").val()
        sessionStorage.setItem("license", license)
      }
    }

    function fillLicense() {
       var license = sessionStorage.getItem("license")
       if (license) {
         $("#license").val(license)
       }
    }

    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function pickTitleForVideos() {
      var title = sessionStorage.getItem("videoTitle")
      if (title == null) {
        console.log("randomizing title...")
        var index = getRandomInt(0, 2)
        var titles = [
          "videos", "tutorials", "how-to"
        ]
        title = titles[index]
        sessionStorage.setItem("videoTitle", title)
      }
      return title
    }

    function pickCenterLink() {

      var title = sessionStorage.getItem("center_link")
      if (title == null) {
        console.log("randomizing center_link...")
        var index = getRandomInt(0, 1)
        var titles = [
          "#see-templates",
          "#get-license-free"
        ]
        title = titles[index]
        sessionStorage.setItem("center_link", title)
      }
      console.log("pick center link", title)
      return title
    }

    $( document ).ready(function() {
      console.log( "ready!" );
      
      var title = pickTitleForVideos()
      var center_link = pickCenterLink()
      console.log("title: " + title);
      $("#videoLink").html(title)
      $(center_link).removeClass("none")

      {% if site.analytics.mixpanel %}
      mixpanel.register(
        {
          "video_title":title,
          "video":"intro20150907",
          "center_link":center_link,
        })
      {% endif %}
      mixpanel
    });
  </script>

  {% include mixpanel.html %}
  {% include googleanalytics.html %}

</head>
