.template-body {

	h1 {
		margin-top: 1rem;
	}

	.hero {
		width: 100%;
		height: auto;
	}

	.round {
		margin-top: -4rem;
	}

	.site-footer {
		margin-top: 2rem;
	}

	.btn {
		padding-left: 5px;
		padding-right: 5px;
		color: #999;
	}

	.license-box {
		@extend .btn-outline;
		border-radius: 4px;
	}
}

.templates {
	
	.author {
		margin-top: 2px;
		margin-bottom: 4px;
		.avatar {
			width: 22px;
			height: 22px;
		}
		.name {
			padding-left: 2px;
			padding-top: 2px;
		}
	}

	.members-btn {
		color: #999;
	}

}