.orange  { color: $brand-color }
.btn { font-weight: normal; }
.btn-outline {
  border-radius: 22px;
}
.showcase {
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-style: solid;
    border-width: 0.5px;
    border-color: #000;
    .liner {
		font-family: "Asap-MediumItalic", "Helvetica-Bold";
		font-size: 15px;
		color: #D9D9D9;
		line-height: 22px;
    }
    .author {
		font-size: 14px;
		color: #E6E6E6;
		line-height: 22px;
    }
    a {
    	background-color: rgba(0, 0, 0, 0.5);
    }
    a, a * {
    	opacity:1;
    }
    a:hover {
    	background-color: rgba(0, 0, 0, 0.0);
    	* {
	    	opacity:0;
	    }
    }
}
.avatar {
	height: 66px;
	width: 66px;
    border-radius: 33px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.animated, .showcase a, .showcase a * {
    -o-transition: all 0.24s linear;
    -moz-transition: all 0.24s linear;
    -khtml-transition: all 0.24s linear;
    -webkit-transition: all 0.24s linear;
    -ms-transition: all 0.24s linear;
    transition: all 0.24s linear;
}
sup {
	font-size: 0.75em;
}

/* Computer */
#computer {
	/*background-color:red;*/
	position: relative;

	.screen {
		position: absolute;
		width: 74.6%;
		height: 80%;
		top: 6.18%;
		bottom: 11.0%;
		left: 11.7%;
		right: 11.7%;
		background-image: url("/images/screen.jpg");
		background-size: cover;
		background-position: center;
	    background-repeat: no-repeat;
	    padding: 1%;
	}

}

/* Youtube video */
.videodom {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	/*background-color:red;*/
}

.videoWrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 54.8%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-16-9 {
  padding-top: 25px;
  padding-bottom: 60%;
}

/* Basecss */
.nav { margin-top: -0rem; margin-bottom: -1rem; }

/* Read More */

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  margin-top: -2rem;
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  margin-left: auto;
  margin-right: auto;
}

/* Twitter */
.twitter-timeline {
  margin-left: auto;
  margin-right: auto;
}

/* Round */
.round {
  border-radius: 50%;
}