<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="template-body">

    {% include header.html %}

    {% assign author = site.data.authors[page.author] %}


    {% if page.members %}
    <div class="members">
    {% else %}
    <div class="free">
    {% endif %}
      <img src="/images/templates/{{ page.image }}" class="hero"/>

      <div class="wrapper flex flex-center">
        <img src="{{ author.avatar }}" class="col-2 round" />
        <h1 class="col-8 center">{{ page.title }}</h1>
      </div>

      <div class="wrapper border-box center">
        <div class="left-align clearfix sm-col-8 mx-auto">
        {{ content }}
        </div>

        {% if page.members %}
        <div class="mx-auto">
          <form action="{{ site.downloadurl }}/{{ page.identifier }}">
            <input type="text" class="license-box col-12 sm-col-6 clearfix border-box mr1 mt1" name="license" id="license" placeholder="Enter your license key..." />
            <input type="hidden" name="redirect_url" value="{{ site.url }}{{ page.url }}" />
            <input type="button" value="ENTER" class="border-box center btn btn-outline gray col-4 sm-col-2 mt1 download" id="submitButton"/>
          </form>
          <p id="message" class="mt1"></p>
        </div>
        {% else %}
        <div class="mx-auto">
            <form action="{{ site.downloadurl }}/{{ page.identifier }}" id="downloadForm">
            <input type="hidden" name="redirect_url" value="{{ site.url }}{{ page.url }}" />
            <input type="button" value="DOWNLOAD" class="border-box center btn btn-outline gray col-4 sm-col-2 mt1 download" id="submitButton"/>
          </form>
          <p id="message" class="mt1"></p>
        </div>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}

  </body>

  <script>
    $('#license').keypress(function (e) {
      if (e.which == 13) {
        $('#submitButton').trigger("click");
        return false;    //<---- Add this line
      }
    });
    $('#submitButton').click(function() {
      setLicense()
      $.ajax({
        dataType: "json",
        url: "{{ site.downloadurl }}/{{ page.identifier }}.json?license=" + $('#license').val(),
        success: function(data) {
          $("#message").removeClass("red").addClass("green")
          $("#message").html("Download in process...")
          window.location = data["target"]
        },
        error: function(xhr, textStatus, errorThrown) {
          if (xhr.status >= 400) {
            $("#message").removeClass("green").addClass("red")
          }
          $("#message").html(xhr.statusText)
          $("#license").select()
        }
      });
    });

    fillLicense()
  </script>

</html>
