<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="template-body">

    {% include header.html %}

    {% assign author = site.data.authors[page.author] %}


    {% if page.members %}
    <div class="members">
    {% else %}
    <div class="free">
    {% endif %}
      <img src="/images/templates/{{ page.image }}" class="hero"/>

      <div class="wrapper flex flex-center">
        <img src="{{ author.avatar }}" class="col-2 round" />
        <h1 class="col-8 center">{{ page.title }}</h1>
      </div>

      <div class="wrapper border-box center">
        <div class="left-align clearfix sm-col-8 mx-auto">
        {{ content }}
        </div>

        {% if page.members %}
        <div class="mx-auto">
          <form action="{{ site.downloadurl }}/{{ page.identifier }}">
            <input type="text" class="license-box col-12 sm-col-6 clearfix border-box mr1 mt1" name="license" id="license" placeholder="Enter your license key..." />
            <input type="hidden" name="redirect_url" value="{{ site.url }}{{ page.url }}" />
            <input type="submit" value="ENTER" class="border-box center btn btn-outline gray col-4 sm-col-2 mt1 download" onclick="setLicense()"/>
          </form>
          <p id="message" class="mt1"></p>
        </div>
        {% else %}
        <div class="mx-auto">
            <form action="{{ site.downloadurl }}/{{ page.identifier }}">
            <input type="hidden" name="redirect_url" value="{{ site.url }}{{ page.url }}" />
            <input type="submit" value="DOWNLOAD" class="border-box center btn btn-outline gray col-4 sm-col-2 mt1 download" />
          </form>
          <p id="message" class="mt1"></p>
<!--         <a href="{{ site.downloadurl }}/{{ page.identifier }}" class="border-box center btn btn-outline col-4 sm-col-2 mt1 download">DOWNLOAD</a> -->
        </div>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}

  </body>

  <script>

    fillLicense()

    var message = getParameterByName("message")
    var style = getParameterByName("style")
    var d = document.getElementById("message")
    d.innerHTML = message
    d.className += " " + style

    var link = getParameterByName("link")
    if (link) {
      setTimeout(function() {
        window.location = link
      }, 1000);
    }
  </script>

</html>
